/*
THIS STYLESHEET AND ITS IMPORTS ARE GLOBAL.
TRY TO KEEP COMPONENT-SPECIFIC CODE AWAY!!

Contents:
- page layout (columns, flow)
- positioning (aligning)
- smaller box components (cards, images, etc)
- text and text related selectors (fonts, links, etc)
- animation and transitions
*/
/* all imports of partials */
@import 'app/styles/text';
@import 'app/styles/flex';

/* main global overrides - angular */
router-outlet + * {
  flex: 1;
}

/* styles for standard selectors - affect all components */
* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  &:focus {
    outline: 5px solid crimson;
  }
}

body {
  font-size: $font-size;
  font-family: $font-family;
}

img {
  min-height: 100%;
  max-width: 100%;
}

