.main-block {
  min-height: calc(100vh - 3rem - 5px);
  margin-top: 136px;
  text-align:center;
  color: #595959;
  padding: 0 5px;

  @media screen and (min-width: 640px) {
    margin-top: 100px;
    padding: 1rem;
  }
}

