.calc-flex-r {
  display: flex;
}

.calc-flex-c {
  display: flex;
  flex-direction: column;
}

.calc-flex-a {
  align-items: center;
}

.calc-flex-j {
  justify-content: center;
}

.calc-flex-w {
  flex-wrap: wrap;
}

.calc-f1 {
  flex: 1;
}
