$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 18px;

.calc-highlight {
  border: 1px solid transparent;
  padding: 0.2rem 1rem;
  //font-weight: lighter;
  //color: red;
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
  line-height: 2rem;
  border-radius: 4px;
  transition-duration: 200ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;

  &::before,
  &:hover::before {
    content: '"';
  }
  &::after,
  &:hover::after {
    content: '"';
  }

  &:focus,
  &:hover {
    //overriding
    text-decoration: none;
    padding: calc(0.2rem - 2px) calc(1rem - 2px);
    /*BOTH REVERT BACK TO THE DEFAULT SURROUNDING STYLE*/
    //font-weight: unset;
    //font-weight: inherit;
    //new
    border: 3px solid dodgerblue;
    background-color: rgb(255, 226, 28);
    color: black;
  }
}

.calc-minor {
  font-size: 0.8rem;
}
