$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 18px;

.calc-highlight {
  border: 1px solid transparent;
  cursor: wait;
  text-decoration: underline;
  border-radius: 4px;

  &:focus,
  &:hover {
    //overriding
    text-decoration: none;
    border: 1px solid dodgerblue;
    background-color: rgb(255, 226, 28);
    color: black;
  }
}

.calc-minor {
  font-size: 0.8rem;
}
