<section class="calc-landing">
  <h1 tabindex="-1">
    Welcome. I am the only landing page!
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis corporis culpa deleniti, dolorem
    doloremque doloribus error eveniet facilis, minus molestiae porro possimus qui quos ratione rem soluta ullam?
  </p>
  <figure>
    <img src="../../../assets/jpeg/homer.jpg" alt="First Homer should be loaded">
    <figcaption>First Homer should be loaded.</figcaption>
  </figure>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis corporis culpa deleniti, dolorem
    doloremque doloribus error eveniet facilis, minus molestiae porro possimus qui quos ratione rem soluta ullam?
  </p>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis corporis culpa deleniti, dolorem
    doloremque doloribus error eveniet facilis, minus molestiae porro possimus qui quos ratione rem soluta ullam?
  </p>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis corporis culpa deleniti, dolorem
    doloremque doloribus error eveniet facilis, minus molestiae porro possimus qui quos ratione rem soluta ullam?
  </p>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi blanditiis corporis culpa deleniti, dolorem
    doloremque doloribus error eveniet facilis, minus molestiae porro possimus qui quos ratione rem soluta ullam?
  </p>
  <hr>
  <figure>
    <img src="../../../assets/jpeg/homer_again.jpg" alt="This should not be loaded until visible">
    <figcaption>
      This should not be loaded until visible (or after some interval after page load was completed)
    </figcaption>
  </figure>
</section>
