.calc-landing-root {

  & > *:first-child {
    padding: 1rem;
  }
}

.test-with-background {
  min-height: 50vh;
  //background-image: url("../../../assets/jpeg/aws-summit-1920_x_1080.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 640px) {
    //background-image: url("../../../assets/jpeg/aws-summit-375_x_667.jpeg");
  }
}

.calc-card {
  margin-bottom: 2rem;
  box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.7);
  border-radius: 8px;

  @media screen and (min-width: 640px) {
    display: flex;
  }

  &:last-of-type {
    margin-bottom: 1rem;
  }

  &.welcome-banner {
    border: 8px solid black;
    .calc-card-top {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: unset;
    }
    .calc-card-bottom {
      border-radius: unset;
    }
  }
}

.calc-card-top {
  overflow: hidden;
  margin-top: auto;
  background-color: whitesmoke;
  color: black;
  border-radius: 8px 8px 0 0;
  //box-shadow: 0 -5px 16px black;

  @media screen and (min-width: 640px) {
    margin: 0;
    padding: 1rem;
    border-radius: 8px 0 0 8px;
    //box-shadow: -2px 0px 20px 0px rgba(0, 0, 0, 0.7);
    background-color: darkslateblue;
    color: ghostwhite;
    flex: 1;
  }

  h1 {
    font-size: 3rem;
    margin: 1rem;
  }

  h2 {
    font-size: 2.2rem;
  }
}

.calc-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: start;
  border-radius: 0 0 8px 8px;
  background-color: #e9e9e9;
  color: #2b2a2a;
  //box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);

  @media screen and (min-width: 640px) {
    flex: 1;
    font-size: 1.5rem;
    padding: 2rem 5rem;
    border-radius: 0 8px 8px 0;
  }


  blockquote {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    &:before,
    &:after {
      content: '"';
    }
  }

  address {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-transform: uppercase;
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 1rem;
    font-size: 0.8rem;
  }
}

.calc-card-image {
  img {
    min-width: 100%;
    @media screen and (min-width: 640px) {
      margin-top: 2rem;
      min-width: 35%;
      border-radius: 50%;
    }
  }
  figcaption {
    font-size: 0.9em;
    margin: 0.2em 0 1.1em;

    @media screen and (min-width: 640px) {
      font-size: 3rem;
    }
  }
}

.calc-card-message {
  padding: 1rem;
  line-height: 2rem;
}

/*USER-RELATED*/
.user-name,
.user-location {
  text-transform: capitalize;
}

.user-age {
  font-weight: bold;
}

.user-gender.male {
  color: red;
}

.user-gender.female {
  color: hotpink;
}

.user-email, .user-phone {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: monospace;
}

// MOVE THIS NEXT TWO TO A GLOBAL STYLESHEET
a[href^="tel:"] {
  color: orange;
  text-decoration: none;
}

// MOVE THIS NEXT TWO TO A GLOBAL STYLESHEET
a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}

address {
  color: gray;
  font-family: monospace;
  font-weight: lighter;
}
