.calc-landing {
  min-height: 200vh;

  & > *:first-child {
    padding: 1rem 2rem;
  }
}

.test-with-background {
  min-height: 50vh;
  background-image: url("../../../assets/jpeg/aws-summit-1920_x_1080.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 640px) {
    background-image: url("../../../assets/jpeg/aws-summit-375_x_667.jpeg");
  }
}

.calc-hero {
  margin-top: auto;
  padding: 1rem;
  background-color: whitesmoke;
  font-size: 48px;
  color: black;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -5px 16px black;
}

.calc-hero-bottom {
  padding: 0.5rem;
  border-top: 1px solid gray;
  border-radius: 0 0 8px 8px;
  background-color: #e9e9e9;
  font-size: 32px;
  color: #2b2a2a;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.75);
}

p {
  padding: 1rem 2rem;
}

.initial-homer-container {
  padding-top: calc(6rem - 3px);

  figcaption {
    margin-top: 2rem;
  }
}
